 .placer{
        height: auto;
        margin: auto;
        text-align: center;
    }
 
 .title{
        font-size: 3rem;
        max-width: 50%;
        padding: 2rem;
        border-bottom: #00000038 1px solid;
        color: #7c761e;

    }
    .link-container{
        background-color: rgba(245, 245, 220, 0.541);
        box-shadow: 0.5em 0.2em #0000001e ;
        border-radius: 3rem;
        padding: 0rem;
        width: 20rem;
        text-align: center;
    }

    body{
        background: #ffffff;
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(237, 221, 83, 1) 100%);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .recipeimg{
        box-sizing: border-box;
        display: block;
        border: 0.2rem solid rgba(236, 220, 73, 0.801);
        width: 450px;
        margin-top: 1rem;
        margin-bottom: 1rem;

    }
    .link{
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(175, 163, 53, 0.801);
        text-decoration: none;
        padding: 2rem;
        margin: auto;
        font-size: large;
        text-align: justify;
        color: #7c761e;
    }

    a{
        color: inherit;
        text-decoration: none;
        outline: 1em #000000;
        font-size: 1.5em;
    }

    .fontstroke{
        text-shadow:
            -1px -1px 0 #00000075,  
            1px -1px 0 #00000075,
            -1px 1px 0 #00000075,
            1px 1px 0 #00000075;
    }
    .recipetitle{
        margin: auto;
        padding: auto;
    }
   
    p,ol{
        background-color: beige;
        border-radius: 0.25rem;
        padding: 1rem;
        list-style: none;
    }
    ul{
        box-sizing: border-box;
        display: inline-block;
        margin: auto;
        list-style: none;
        padding: 0px;
    }

    .ingredients{
        background-color: beige;
        border-radius: 0.25rem;
        padding: 1rem;
        width: 100%;
    }
    .recipeheader{
        color: #7c761e;
    }
    .recipesrc{
        display: block;
        width: 100%;
        font-size: 1.5em;
    }

    